<div class="container" style="margin-top: 40px">
  <h1 style="color: dodgerblue; text-align: center">QUATER</h1>
  <p style="color: white;"> "Heard Quote today?...tell us."</p>
  <hr />

  <div class="row">
    <div class="col-md-6">
      <div *ngFor="let goal of goals; let i = index">
        <div>
          <h4 id="{{ i }}" appStrikethrough>
            {{ goal.name }}, {{ goal.author }}, Date Created:
            {{ goal.completeDate | date | uppercase }}
          </h4>

          <h5 style="color: white;">Votes: <span>{{goal.upVote+goal.downVote}}</span> </h5>
          <h5 style="color: white;">upVote: <span>{{goal.upVote}}</span>
          </h5>
          <h5 style="color:white">downVote: <span>{{goal.downVote}}</span> </h5>

          <button (click)="toggleDetails(i)" class="btn btn-primary">
            click to vote
          </button>
          
        </div>

        <div *ngIf="goal.showDescription">
          <app-goal-detail
            [goal]="goal"
            (isComplete)="deleteGoal($event, i)"
          ></app-goal-detail>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <app-goal-form (addGoal)="addNewGoal($event)"></app-goal-form>
    </div>

  </div>
</div>
