

.container{
    font-family: 'Poppins', sans-serif;
    color: white;
   
}
.container h1{
    font-size: 50px;
}
.container p{
    font-size: 20px;
    text-align: center;
}

.row{
    font-family: 'Poppins', sans-serif;
    background-color:  #636b651f
}


