
@import "~bootstrap/dist/css/bootstrap.css";

* {
font-family: 'Poppins', sans-serif;
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
font-family: 'Poppins', sans-serif;
line-height: 1.4;
background-image: url(assets/alin-andersen-f0SgAs27BYI-unsplash.jpg);
background-repeat: no-repeat;
background-size: cover;

}
.universal-container{
    height: 84.1px; 
}

.footer{
    margin-top: 30px;
    height: 231px;
}

.wrapper {
  animation: scroll 70s linear infinite;
  background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80"),
    #636b65;
  color: #eee;
  height: 241.8px;
  background-size: cover;
  min-width: 360px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 50%;
}

@keyframes scroll {
  100% {
    background-position: 0px -3000px;
  }
}

@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 200s linear infinite;
  }
}

@media (min-width: 670px) {
  .title {
    font-size: 5rem;
  }
}
.footer-text{
   color:rgba(30, 143, 255, 0.288);
   font-family: "Poppins", sans-serif;
}
